// Globalne boje i fontovi
$primary-color: #2a9d8f;   // smirujuća zelena
$secondary-color: #264653; // tamno plava
$accent-color: #e9c46a;    // topla žuta
$error-color: #e63946;
$danger-color: #f44336;
$success-color: #2ecc71;
$background-color: #f4f4f4;
$font-stack: 'Segoe UI', Roboto, sans-serif;

body {
  font-family: "Segoe UI", Roboto, sans-serif;
  background: $background-color;
  margin: 0;
  padding: 0;
  color: $secondary-color;
}